<div id="banner">
	<%= render 'banner' %>
  <h2><%= link_to "What's 4 Dinner", root_path %></h2>
</div>
<div id="recipe_wrapper">
   <h1>Recipe Finder</h1>

 <%= render partial: "profiles/show", locals: { profile: @profile } %>

   <%= render 'search' %>


   <br>



   <br>

<a href="https://twitter.com/intent/tweet?text=what%20should%20I%20make?">Tweet for Help!</a>
</div>

<div id='recipe-search-container'></div>
