<% @response.body.each do |key| puts key %>

	<ul>
		<li> <%= link_to key['title'], "recipes/individual_recipe/#{key['id']}" %> 
		<%= image_tag(key["image"], :alt => "recipe picture", size: '200x200') %> </li>
		
	</ul>

<% end %>
