#avatar{
   width: 66%;
   height: auto
}
#avatar_show{
   width: 40%;
   height: auto;
}
#header_left{
   float: left;
   font-family: 'Pacifico', cursive;
}
#header_left_2{
   margin-left: 10px;
   font-family: 'Pacifico', cursive;
}
