#avatar{
   width: 66%;
   height: auto
}
#avatar_show{
   width: 40%;
   height: auto;
}
#header_left{
   float: left;
   font-family: 'Pacifico', cursive;
}
#header_left_2{
   float: left;
   margin-left: 10px;
   font-family: 'Pacifico', cursive;
}
#twitter_bird{
   transition-duration: 0.3s;
   transition-property: transform;
}
#twitter_bird:hover{
   transform: scale(1.2) translateY(-8px);
}
