#whole_page_wrapper{
   font-family: 'Roboto Condensed', sans-serif;
   padding-left: 40px;
   display: -webkit-box;
}
#profile_partial{
   background-color: #20603c;
   padding: 40px;
   color: white;
}
#recipe_wrapper{
   font-family: 'Roboto Condensed', sans-serif;
   padding: 15px;
   a:link{
      text-decoration: none;
      color: #4218e6;
   }
   a:visited{
      text-decoration: none;
      color: #4218e6;
   }
   a:hover{
      color: hotpink;
   }
}
#add_more_button{
   border: none;
   font-family: 'Roboto Condensed', sans-serif;
   background-color: #ff8c00;
}
#ingredient_search{
   border: none;
   font-family: 'Roboto Condensed', sans-serif;
   color: white;
   background-color: #b50000;
}
#recipe_responses{
   display: flex;
   flex-wrap: wrap;
}
.response_item{
   width: 200px;
   height: 200px;
   margin-right: 25px;
   margin-left: 25px;
   margin-bottom: 75px;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
      a:link{
         text-decoration: none;
         color: #4218e6;
      }
      a:visited{
         text-decoration: none;
         color: #4218e6;
      }
      a:hover{
         color: hotpink;
      }
}
#recipe_title{
   font-size: 2em;
   padding-left: 10%;
}
#pic_and_ing{
   display: flex;
}
#recipe_picture{
   width: 25%;
   height: 25%;
   font-family: 'Pacifico', cursive;
   padding-left: 15%;
   padding-right: 10%;
   padding-top: 20px;
}
#pic_and_ing{
   font-size: 1.3em;
  
   background-color: #f0f9fa;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#recipe_instructions{
   font-size: 1.3em;
   margin-top: 8%;
   padding: 20px 10px 20px 35px;
   background-color: #f0f9fa;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
#diet_details{
   width: 110px;
   padding: 10px 5px 10px 10px;
   background-color: #f0f9fa;
}
.searchlink{
   float: left;
   padding-left: 20px;
}
