// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Mobile first - tested with iPhone6 */

   body {
       max-width: 103%;
       overflow-x: hidden;
   }
   #header_pic{
      img{
         width: 106%;
         margin-left: -3%;
         margin-top: -16px;
         position: relative;
      }
      #button_style{
         font-family: 'Pacifico', cursive;
         font-size: 0.6rem;
         color: #e6cc22;
         width: 10%;
         height: 40px;
         background-color: #4218e6;
         padding: 0;
         border: none;
         border-radius: 10%;
            a:link{
               text-decoration: none;
               color: #e6cc22;
            }
            a:visited{
               text-decoration: none;
               color: #e6cc22;
            }
            a:hover{
               color: hotpink;
            }
      }
      .sign_up{
         position: absolute;
         top: 25px;
         right: 25px;
      }
      .log_in{
         position: absolute;
         top: 75px;
         right: 25px;
      }
      .log_out{
         position: absolute;
         top: 30px;
         right: 25px;
      }
      .cook{
         position: absolute;
         top: 30px;
         right: 20%;
      }
      .with_twitter{
         position: absolute;
         top: 22%;
         right: 25px;
         width: 10%;
         height: 50px;
         font-family: 'Pacifico', cursive;
         font-size: 0.6rem;
         background-color: #4099FF;
         color: white;
         border: none;
         border-radius: 10%;
         a:link{
            text-decoration: none;
            color: white;
         }
         a:visited{
            text-decoration: none;
            color: white;
         }
         a:hover{
            color: hotpink;
         }

      }
      #welcome{
         position: absolute;
         top: 25px;
         color: white;
         font-family: sans-serif;
         font-size: 0.8rem;
      }
      #top{
         display: flex;
         flex-wrap: wrap;
      }

      h1{
         font-family: 'Pacifico', cursive;
         position: absolute;
         top: 7%;
         left: 15%;
         width: 100%;
         color: white;
         font-size: 2.2rem;
      }
   }
   #features3{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: gray;
      width: 106%;
      margin-left: -9px;
      margin-top: -4px;
      padding-top: 25px;
      padding-bottom: 15px;
      text-align: center;
   }
   .features3{
      img{
         width: 150px;
         height: auto;
         cursor: pointer;
         }
      p{
         width: 225px;
         font-family: 'Pacifico', cursive;
         text-align: center;
      }
   }
   #who_we_are{
      display: flex;
      background-color: #add8e6;
      width: 102%;
      margin-left: -9px;
      padding-top: 35px;
      padding-bottom: 35px;
      img{
         width: 20%;
         height: 20%;
         border-radius: 20%;
         margin-left: 20px;
      }
      #description{
         margin-left: 20px;
         padding-right: 25px;
         font-family: 'Roboto Condensed', sans-serif;
      }
   }

/* for iPad */
@media all and (min-width: 768px){

   #header_pic{
      #button_style{
         font-size: 0.8em;
      }
      .cook{
         right: 150px;
      }
      #welcome{
         font-size: 1.1rem;
      }
      h1{
         font-size: 5rem;
      }
   }
}

/* for Desktop */

@media all and (min-width: 992px){

   #header_pic{
      img{
         width: 103%;
         margin-left: -1%;
      }
      #button_style{
         font-size: 0.9rem;
      }
      .log_out{
         top: 30px;
      }
      .cook{
         right: 200px;
      }
      .with_twitter{
         top: 400px;
         font-size: 0.8em;
      }

      #welcome{
         font-size: 1.1rem;
      }

      h1{
         top: 100px;
         left: 20%;
         font-size: 6.5em;
      }
   }
   #features3{
      width: 102%;
   }
   .features3{
      img{
         width: 250px;
         }
   }
}
