// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header_pic{
   img{
      width: 103%;
      margin-left: -1%;
      margin-top: -16px;
      position: relative;
   }
   #flashes{
      position: absolute;
      top: 25px;
      color: white;
      font-family: sans-serif;
   }
   h1{
      font-family: 'Pacifico', cursive;
      position: absolute;
      top: 100px;
      left: 20%;
      width: 100%;
      color: white;
      font-size: 5.5em;
   }
}
